* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  padding-top: 5%;
  background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main{
  background-color: rgba(31, 20, 21);
  padding: 2%;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  border: 8px solid;
  border-radius: 14px;
}
.main h2{
  color: white;
}
.key{
  margin-top: 4%;
}
.ac button{
  width: 33.333%;
}
.eq button{
  width:100%;
  font-size: 150%;
}
.square{
  width: 25%;
  height: 60px;
  border: 0;
  outline: 0;
  background-color: rgba(31, 20, 21, 0.664);
  color: #5cc8ff;
  
}

.orange{
  background-color: rgb(253, 111, 29);
  color: white;
}
.red{
  background-color: rgb(233, 48, 48);
  color: white;
  
}
input
{
  background-color: rgba(65, 59, 60, 0.863);
  color: rgb(243, 75, 75);
  font-size: 17px;
  border: 0;
  outline:0;
  padding-left: 4%;
  width: 97%;
  height: 30px;
}
@media screen and (max-width:425px){
  .main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}